script(type="text/x-template")#preview-container
  .works-preview
    display
    info               

script(type="text/template")#preview-display
  .works-preview__pictures(data-slide="1")              
    +image('content/slider-1.jpg', 'works-preview__img')                
    .works-preview__thumbs
      thumbs
    .works-preview__btns
      btns   

script(type="text/template")#preview-thumbs
  ul.thumbs
    - for (var i = 3; i > 0; i--)
      li.thumbs__item(class=`${i === 1 ? 'active' : ''}`)
        a(href="#").thumbs__link
          +image(`content/slider-${i}.jpg`, "thumbs_pic")

script(type="text/template")#preview-btns
  .square-btns
    button(type="button").square-btns__item.square-btns__item--next
    button(type="button").square-btns__item.square-btns__item--prev

script(type="text/template")#preview-info
  .works-preview__info
    .works-preview__tags  
      tags    
    .works-preview__title Сайт школы образования
    .works-preview__desc
      p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
    .works-preview__link 
    a(href="").iconed-link Посмотреть сайт

script(type="text/template")#preview-tags
- var tags = ['HTML', 'CSS', 'JavaScript'];
ul.tags
  each item in tags
    li.tags__item 
      .tag #{item}